@use "../mixin/mixin"as *;
@use "../setting/setting"as *;

.c-btn01 {
  background-color: $primary;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  max-width: 400px;
  width: 100%;

  @include pc{
    &:hover {
      background-color: $primary_hover;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

.c-btn02 {
  background-color: $clear_black;
  border: 1px solid $clear_white;
  font-weight: 500;
  padding: 7px 20px;
  display: block;
  width: fit-content;

  @include pc {
    &:hover {
      background-color: #000;
    }
  }
}