@use "../mixin/mixin"as *;
@use "../setting/setting"as *;

.page {
  min-height: 100svh;
  position: relative;
}

.box {
  max-width: 500px;
  height: fit-content;
  margin: auto;
  padding: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #ffffff1e;
}

.ttl {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.input {
  &+.input {
    margin-top: 20px;
  }

  &+.btn {
    margin-top: 35px;
  }

  &+.label {
    margin-top: 15px;
  }
}

.remember {
  margin-top: 50px;
}

.btn {
  margin-top: 20px;
}

.signup {
  display: block;
  width: fit-content;
  margin: 20px auto 0;
}

.error {
  color: $primary;
  margin: 15px 0 0;
  font-weight: bold;
}

.label {
  display: block;
  padding: 5px 0;
}

.password_reset {
  display: inline-block;
  margin: 10px 0;
}